.accordion {
	.card {
		display: block;
		border: none;
		margin-bottom: 20px;

		> div {
			margin-top: 10px;
		}

		a {
			@extend .text-blue;
			.fa {
				@extend .text-blue;
				margin: 0px 5px 0px 0px;
				transition: transform 0.2s ease;
				&:before {
					content: '\F106';
				}
			}
			&.collapsed {
				@extend .text-black;
				&:hover {
					@extend .text-blue;
				}
				.fa {
					transform: rotate(180deg);
				}
			}
		}

		div.row {
			p.strong {
				margin-bottom: 0px; //title sections
			}
		}

		&:last-child {
			margin-bottom: 0px;
		}
	}
}
