.quote-wrapper {
	text-align: center;
	.quote-bracket {
		width: 1.5rem;
		display: block;
		margin: 2.2rem auto 1.3rem auto;
	}

	blockquote {
		@extend .cursive;
		@extend .quote;
		line-height: 1.33333;
		text-align: center;
	}

	.quote-info {
		text-align: center;
		a, >span {
			@extend .mb-2;
		}
		a {
			display: inline-block;
		}
		>span {
			display: block;
		}
	}
}

.milestone .quote-wrapper {
	text-align: left;

	blockquote {
		text-align: left;
		@extend .intro;
	}
	.quote-info {
		text-align: left;
		span {
			font-size: 16px;
		}
	}
}


.block-quote-new {
	margin: 0;

	p {
		font-style: italic;
		margin-bottom: 1rem;
	}
}