.quotebox,
.ksconnectbox,
.explorebox {
	@extend .animate-all;
	padding: 30px;
	display: block;
	min-height: 280px;
	box-shadow: $shadowBox-normal;

	&:hover {
		transform: translateY(-2px);
		box-shadow: $shadowBox-hover;
	}

	h4:before {
		@extend .fa;
		@extend .mr-2;
		content: "\F061";
	}
}

.kscustombox,
.kscorebox,
.home-explore-box {
	padding: 3.688rem 2.25rem;

	i {
		line-height: 30px;
	}
}

@include media-breakpoint-up(lg) {
	.kscustombox,
	.kscorebox,
	.home-explore-box {
		padding: 4.6875rem 6.25rem;
	}
}

.bluebox {
	height: 417px;
}

// Media
// .bluebox {
//   @include retina(
//     (
//       url('../assets/imgs/ksconnect-icons-left.png') left bottom no-repeat,
//       url('../assets/imgs/ksconnect-icons-right.png') right top no-repeat,
//       $blueBoxGradient
//     ), (
//       url('../assets/imgs/ksconnect-icons-left@2x.png') left bottom no-repeat,
//       url('../assets/imgs/ksconnect-icons-right@2x.png') right top no-repeat,
//       $blueBoxGradient
//     ),
//     (340px, 340px, auto)
//   );
// }

// .quotebox {
//   @include retina(
//     (
//       url('../assets/imgs/dealer-card-eu.png') right bottom no-repeat,
//       $primaryBlue
//     ), (
//       url('../assets/imgs/dealer-card-eu@2x.png') right bottom no-repeat,
//       $primaryBlue
//     ),
//     (266px, auto)
//   )
// }

.ksconnectbox {
  @include retina(
    (
      url('../images/ksconnect-card.png') right bottom no-repeat,
      $blueBoxGradient
    ), (
      url('../images/ksconnect-card@2x.png') right bottom no-repeat,
      $blueBoxGradient
    ),
    (281px, auto)
  )
}

.explorebox{
  @include retina((
      url('../images/explore-card.png') calc(100% - 40px) bottom no-repeat,
      $primaryBlue
    ), (
      url('../images/explore-card@2x.png') calc(100% - 40px) bottom no-repeat,
      $primaryBlue
    ),
    (230px, auto)
  )
}

.kscustombox {
	background: $blueGrey;
}

.kscorebox {
	background: $lightGreen;
}

.home-explore-box {
	background: $lighterBlue;
}

@include media-breakpoint-up(lg){
  .kscorebox {
    background: url('../images/kscorebox-bg.svg') right center no-repeat, $lightGreen;
    background-size: 443px auto;
  }
  .kscustombox{
    @include retina(
      (
        url('../images/kscustom-box.png') right center no-repeat,
        $blueGrey
      ), (
        url('../images/kscustom-box@2x.png') right center no-repeat,
        $blueGrey
      ),
      (378px, auto)
    )
  }
//   .home-explore-box {
//     background: url('../assets/imgs/home-explore-box.svg') right top no-repeat, $lighterBlue;
//     background-size: 601px auto;
//   }
}
