//TODO cleanup

//Font and padding
.btn {
	@extend .strong;
	text-transform: uppercase;
	font-size: $size-xsmall;
	letter-spacing: 1px;
	padding: 1rem 1.2rem;
}

.btn.btn-share {
	@extend .circle;
	@extend .text-white;
	font-size: $size-base;
	height: 35px;
	width: 35px;
	padding: 0;
}

//Colors
.btn {
	&.btn-primary {
		@include buttonStyle($primaryBlue, 10);
		color: #fff !important;
	}
	&.btn-secondary {
		@include buttonStyle($almostBlack, 5);
	}
	&.btn-light {
		@extend .text-blue;
		@include buttonStyle($lightGrey, 5);
	}
	&.btn-light-blue {
		@extend .text-white;
		@include buttonStyle($lightBlue, 5);
	}
	&.btn-green {
		@extend .text-white;
		@include buttonStyle($green, 10);
	}
	&.btn-shadow {
		transition: box-shadow 0.2s ease-in-out;
		box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.2);
		&:hover {
			box-shadow: 0 1px 6px 2px rgba(0, 0, 0, 0.2);
		}
	}

	&.min-width {
		width: min-content;
	}
}

.btn.btn-share {
	&.facebook {
		@include buttonStyle($facebookColor, 20);
	}

	&.twitter {
		@include buttonStyle($twitterColor, 20);
	}

	&.linkedin {
		@include buttonStyle($linkedinColor, 20);
	}
}

// Custom dropdown
.dropdown-toggle {
	@extend .text-black;
	@extend .small;
	border: none;
	background: none;
	border-bottom: 1px solid $semiBlack;
	padding: 0;
	cursor: pointer;
	text-transform: capitalize;
}

.card-filter-toggle {
	padding: 0.25rem 0.7rem;
	font-size: 0.875rem;

	&.active {
		color: inherit;
		background-color: $secundaryGrey;
	}
	&:active {
		color: inherit;
		background-color: $lightGrey;
	}
}

button.clear {
	background: none;
	border: none;
	margin: 0;
	padding: 0;

	&:hover {
		@extend .text-blue;
	}
}
