.comelit-integration-logo {
	margin-top: 52px !important;
	margin-bottom: 54px !important;
  }
  
  .card-icon {
	display: flex;
	margin-bottom: 20px;
	position: relative;
	overflow: hidden;

	.corner-ribbon{
		width: 155px;
		background: $primaryBlue;
		position: absolute;
		top: 25px;
		font-size: 8px;
		text-align: center;
		line-height: 32px;
		letter-spacing: 1px;
		color: #FFF;

		&.top-right{
			right: -38px;
			left: auto;
			transform: rotate(45deg);
			-webkit-transform: rotate(45deg);
		}
	}
	
	.card-wrapper {
	  border: 1px solid $secundaryGrey;
	  padding: 1rem 1.4rem;
	  border-radius: 5px;
	  text-align: center;
	  display: flex;
	  flex-direction: column;
	}
  
	.fixed-height-content {
	  min-height: 16rem;
	  flex-grow: 1;
	}
  
	.partners {
	  display: flex;
	  align-items: center;
	  justify-content: flex-start;
	}
  
	.button {
	  @extend .pt-3;
	  display: flex;
	  flex-grow: 0;
	  align-items: center;
	}
  
	.bordered {
	  padding-bottom: 1.5rem;
	  border-bottom: 1px solid $secundaryGrey;
	}
  
	.icon {
	  text-align: center;
	  padding: 2rem 0 3rem 0;
	  border-bottom: 1px solid $secundaryGrey;
	  margin-bottom: 1.5rem;
  
	  i {
		font-size: 3rem;
	  }
	}
  
	// No better way to align it
	.gsa-logo {
	  transform: translateY(-4px);
	}
  }
  