.carousel {
	.carousel-indicators {
		justify-content: flex-start;
		margin-left: 30px;
		li {
			width: 10px;
			height: 10px;
			border-radius: 20px;
		}
	}
}


.carousel.carousel-slider {

	.row {
		display: flex;
		justify-content: center;
	}

	.slide {
		overflow: hidden;
		.picture-wrapper {
			align-items: end;
			max-height: none !important;
			max-width: 100%;
		}
	} 

	.slider-wrapper .slider .slide {
		background: transparent;
	}

	button.control-arrow {

		padding: 0 !important;
		opacity: 1 !important;

		@extend .carousel-button;
	
		&.control-prev {
			left: 10px;
			@extend .prev-button;
		}
	
		&.control-next {
			right: 10px;
			@extend .next-button;
		}
	}

	.control-dots {
		position: relative;
		margin: 1rem 0;

		li {
			opacity: 1;
			width: 9px;
			height: 9px;
			margin: 0 5px;
			box-shadow: none;
			background: #DDD;

			&.selected {
				background: #999
			}
		}
	}

} 

.splide__track .splide__list .splide__slide {
	margin-top: 0 !important;
}

.splide__arrow {
	@extend .carousel-button;
	opacity: 1 !important;
	
	&--next {
		right: 10px;
		@extend .next-button;
	}
	&--prev {
		left: 10px;
		@extend .prev-button;
	}
}

.next-button {
	&:before {
		border: none !important;
		background: none !important;
		margin: 0 !important;
		height: 30px;
		content: "›";
	}
}

.prev-button {
	&:before {
		border: none !important;
		background: none !important;
		margin: 0 !important;
		height: 30px;
		content: "‹";
	}
}

.splide__pagination {
	margin: 0 !important;

	&__page {
		background: #ddd;
		width: 9px;
		height: 9px;
		margin: 3px 5px;
	}

	&__page.is-active {
		transform: scale(1);
		background: #999;
	}
	li {
		margin: 0 !important;
		padding: 0 !important;
	}
}


.carousel-button {
	cursor: pointer;
    position: absolute;
	top: 50%;
	transform: translateY(-50%);
    outline: none;
    color: #ffffff;
    z-index: 999;
    font-size: 20px;
    line-height: 30px;
    background-color: rgba(0, 0, 0, 0.28);
    display: inline-block;
    border: none;
    transition: all 200ms cubic-bezier(0.25, 0.46, 0.45, 0.94);
    text-decoration: none;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    text-align: center;
	&:hover {
		background-color: rgba(0, 0, 0, 0.4);
	}
}
