.container > .content-item {
	padding-bottom: 130px;
	margin-top: 130px;

	@media all and (max-width: 768px) {
		padding-bottom: 60px;
		margin-top: 60px;
	}
}

.content-item {
	display: flex;
	position: relative;

	.customers-logos {
		@media all and (max-width: 374px) {
			img {
				margin-left: 22px;
				margin-bottom: 30px;
			}
		}
		@media all and (min-width: 375px) and (max-width: 768px) {
			img {
				margin-left: 50px;
				margin-bottom: 30px;
			}
		}
	}

	.img-composition {
		@media all and (max-width: 991px) {
			img {
				display: none;
			}
		}
		@media all and (min-width: 992px) {
			.img-1 {
				max-width: 100%;
				height: auto;
			}
			.img-2 {
				margin-left: 12rem;
				position: absolute;
				z-index: 1;
			}
			.img-3 {
				z-index: 2;
				margin-left: 24rem;
				position: relative;
				margin-top: 9rem;
			}
		}
	}
	.img-composition-2 {
		@media all and (min-width: 992px) {
			margin-left: 100px;
		}
	}
	.neg-top-60x {
		@media all and (min-width: 992px) {
			margin-top: -60px;
		}
	}

	// Content line
	&::after {
		position: absolute;
		content: '';
		border-bottom: 1px solid $secundaryGrey;
		width: 270px;
		bottom: 0;
		left: 50%;
		margin-left: -135px;
	}

	// Remove the content line from the hero, and the last item
	&.hero-clip,
	&:last-of-type,
	&.no-border {
		&::after {
			content: none;
		}
	}

	&.pull-up {
		margin-top: 70px;
	}
	&.large-separator::after {
		width: 950px;
		left: 50%;
		margin-left: -475px;
	}
	&.no-break::after {
		display: none;
	}
	&.no-bottom-space {
		padding-bottom: 20px;
	}
	&.no-top-space {
		margin-top: 20px;
	}
	&.no-space {
		padding-bottom: 20px;
		margin-top: 20px;
	}
	&.no-margin-bottom {
		margin-bottom: 20px;
	}
}

.go-back {
	max-width: 100%;
	z-index: 0 !important
	;
	margin: auto;
	top: 0px;
	bottom: 0px;
	&.no-top {
		@media all and (max-width: 440px) {
			top: -20px;
		}
	}
	&.left {
		left: 15px;
		@media all and (max-width: 991px) {
			left: 0;
		}
	}
	&.right {
		right: 15px;
		@media all and (max-width: 991px) {
			right: 0;
		}
	}
}

@include media-breakpoint-up(md) {
	.picture-wrapper.go-back-md {
		position: absolute;
		max-width: none;
	}
}

@include media-breakpoint-up(lg) {
	.picture-wrapper.go-back-lg {
		position: absolute;
		max-width: none;
	}
}

.grey-background {
	background-color: #f7f7f7;
}

.site-content {
	margin-top: -100px;
	padding-top: 100px;
	overflow: hidden;
	position: relative;
	z-index: 1;
}

.container {
	min-height: 400px;
	margin-bottom: 150px;
	@media all and (max-width: 991px) {
		padding-left: 30px !important;
		padding-right: 30px !important;
	}
}


// Animation
@keyframes placeHolderShimmer{
	0% {
		background-color: $lightGrey;
	}
	50% {
		background-color:$lighterBlue;
	}
	100% {
		background-color: $lightGrey;
	}
}

.img-placeholder {
	transition: all 0.5s ease-out; 
	animation-duration: 2.5s;
    animation-iteration-count: infinite;
    animation-name: placeHolderShimmer;
    animation-timing-function: ease-in-out;
	background: red;
	border-radius: 15px;
	width: 100%;
	height: 100%;
	position: absolute;
	top:0; 
	left: 0;
	display: block;
}

.picture-wrapper {
	display: inline-flex;
	align-items: center;
	position: relative;
	z-index: 1;

	&.w-100 {
		picture {
			@extend .w-100;
		}
	}
}

picture {
	opacity: 1;
	transition: opacity .2s ease-in-out;
}
picture.hide {
	opacity: 0 !important;
}

li p {
	margin-bottom: 0;
}

figure.image picture img {
	margin-bottom: 0;
}

figure figcaption {
	text-align: center;
    margin-top: .7rem;
    font-size: 14px;
    color: grey;
	margin-bottom: 1.3rem;
	text-transform: italic;
}


//Richtext

.richtext-wrapper {
	display: flex;
	flex-wrap: wrap;

	> p {
		display: block;
		width: 100%;
	}

	> h3 {
		display: block;
		width: 100%;
	}
}

.image-div {
	padding-right: 5%;
	margin-bottom: 3rem;
	img {
		margin: 0 !important
	}
	p {
		margin-left: 5px !important;
		margin-top: .5rem;
		font-size: 12px;
		line-height: 2;
	}
}

.flex-3 {
	flex-basis: 33.333%;
}

.flex-5 {
	flex-basis: 50%;
}

.flex-6 {
	flex-basis: 66.666%
}


.richtext-wrapper>h3, .richtext-wrapper>p {
    display: block;
    width: 100%;
}

img.small {
	display: inline-block;
	margin: 0 .5rem !important;
	max-width: 200px !important;
	width: auto;
}