footer {
	position: relative;
	overflow: hidden;
	padding-bottom: 30px;
	z-index: 10;

	a,
	p,
	p.small {
		color: $footerLightGray;
		font-size: $size-small;
		line-height: 30px;
	}

	.row .col-lg-2 a.text-footergray {
		margin-bottom: .25rem !important;
	}

	a:hover {
		color: darken($footerLightGray, 10);
	}

	@include media-breakpoint-up(xs) {
		margin-top: 0px;
		padding-top: 70px;
	}

	@include media-breakpoint-up(sm) {
		margin-top: -30px;
		padding-top: 130px;
	}

	@include media-breakpoint-up(md) {
		margin-top: 0px;
		padding-top: 100px;
	}

	@include media-breakpoint-up(lg) {
		padding-top: 230px;
		margin-top: -65px;
	}
}

.text-footergray {
	color: $footerLightGray !important;
}
