// Contact Form

.wpcf7-not-valid {
	border-color: $errorRed;
}


.form-wrapper {
	label {
		@extend .small;
		margin: 0;
		width: 100%;
		display: inline-flex;
		flex-direction: column;

		input {
			padding: .719rem;
			margin-top: 3px;
			border: 1px solid grey;
		}
	}
	.input-wrapper {
		margin: 0;
		margin-bottom: 1.4rem;
		line-height: 20px;
		font-size: 14px;

		p {
			margin: 0;
		}
		.validation-error {
			opacity: 0;
			margin-top: 2px;
			transform: translateX(-20px);
			transition: all .2s ease-in-out;
			color: $errorRed;

			&.hide {
				display: none;
			}

			&.show {
				opacity: 1;
				transform: translateX(0);
			}
		}
	}
}

.custom-radio {
	font-size: 14px;
	color: #808080;
	text-transform: capitalize;
	margin: 0.65rem 0;
	display: flex;
	align-items: center;
	float: left;
	margin-right: 2rem;

	&:hover {
		color: $semiBlack;
	}

	label {
		margin: 0;
	}
	input[type='radio']{ 
		padding: 0.44em;
		margin-right: .3rem;
		// -webkit-appearance: none;
		// background: #d8d8d8;
		// outline: none;
		// outline-offset: 0.1em;

		&:checked {
			background: $primaryBlue;

			+ label {
				color: $semiBlack;
			}
		}
	}
}
.custom-checkboxes {
	display: flex;
	flex-direction: column;

	.wpcf7-list-item-label {
		color: #808080;
		margin-left: 0.3rem;
	}

	input {
		font-size: 18px;
	}

	input:checked + .wpcf7-list-item-label {
		color: $semiBlack;
	}

	label:hover {
		.wpcf7-list-item-label {
			color: $semiBlack;
		}
	}

	.wpcf7-list-item {
		margin: 0.25rem 0;
	}
}

.select-wrapper {
	select {
		border-radius: 0 !important;
		width: 100%;
		background: none;
		-webkit-appearance: none;
		-moz-appearance: none;

		padding: .719rem;
		margin-top: 3px;
	

		&:hover {
			cursor: pointer;
		}
	}
	.select-wrapper-inner{
		position: relative;
		&::after {
			@extend .fa;
			content: '\f078';
			font-size: 11px;
			right: 8px;
			bottom: 2px;
			position: absolute;
			pointer-events: none;
		}
	}
}

.input-wrapper .react-tel-input{
	.form-control {
		border-radius: 0;
		width: 100%;
		padding: .719rem;
		padding-left: 58px;
		margin-top: 3px !important;
		line-height: 20px;
		height: auto !important;
		border: 1px solid grey;
	}
	.flag-dropdown{
		border: none;
		.selected-flag{
			border-radius: 0;
			border: 1px solid grey;
			border-right-color: $darkGrey;
			width: 48px;
			padding: 0 12px;
		}
	} 
	
} 


option.sub-child {
	padding-left: 10px;
	-webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}
.wpcf7 {
	width: 100%;
	.sub-title {
		@extend .mb-4;
	}
	.ajax-loader {
		position: absolute;
		left: -30px;
		top: 50%;
		transform: translateY(-50%);
	}

	label {
		font-family: $font-normal;
		font-size: 14px;
		margin: 0;
		width: 100%;
		* {
			visibility: visible;
		}
	}
	.form-input {
		padding: 0.719rem;
		margin-top: 3px;

		&:focus {
			border-color: $primaryBlue;
		}
	}
	.wpcf7-not-valid-tip {
		font-size: 12px;
	}
	.singleNumber {
		width: 40px;
		font-size: $size-base;
		display: inline;
		margin-right: 1rem;
		padding: 0;
	}
	label.dropdown {
	}
	.intl-tel-input {
		width: 100%;
		.iti-arrow {
			display: none;
		}
	}
	// hide the input to show only the label
	input[type='file'] {
		overflow: hidden;
		opacity: 0;
		z-index: -1;
		width: 0.1px;
		height: 0.1px;
		position: absolute;
	}
	.form-separator {
		height: 1px;
		background-color: $darkGrey;
	}

	textarea {
		width: 100%;
	}

	.country > div {
		width: calc(50% - 15px);
	}
}

.form-input,
.form-control {
	width: 100%;
	border: 1px solid #808080;
	border-radius: 2px;
	font-family: $font-normal;
	font-size: 14px;
	&::placeholder {
		color: $darkGrey;
	}
}


.tos-text {
	display: flex;
	* {
		font-size: 14px;
	}

	.text-wrapper {
		margin-bottom: 0;
	}

	label {
		margin-top: -7px;
		margin-left: 0.5rem;
	}
	
}