.highlight {
	@extend .d-flex;
	@extend .pb-3;
	@extend .mt-3;
	.icon {
		font-size: $size-h3;
		@extend .text-blue;
		width: 30px;
		padding-right: 0.5rem;
		text-align: center;
		opacity: 0;
		transition: opacity 0.2s ease-in-out;
	}

	h3 {
		@extend .text-black;
		transition: color 0.2s ease-in-out;
	}

	&.active {
		.icon {
			opacity: 1;
		}
		h3 {
			@extend .text-blue;
		}
	}

	.highlight-content p {
		@extend .small;
	}

	&.border-bottom .highlight-content {
		border-bottom: 1px solid $secundaryGrey;
	}
}

.highlight-slide {
	justify-content: center;
	align-items: center;
	position: relative;
	height: 100%;
	display: none;

	&.active {
		display: flex;
	}
}
