.language-menu {
	position: relative;
	display: inline-block;
	width: 140px;

	.pll-parent-menu-item button {
		@extend .btn;
		@extend .btn-secondary;
		text-transform: none;
		font-size: 12px;
		width: 100%;
		display: block;
		overflow: hidden;
		padding: 10px;
		border: none;
		font-weight: normal;
		&:focus {
			box-shadow: none;
			border: none;
		}
	}
	.pll-parent-menu-item > button:before {
		@extend .fa;
		@extend .mr-1;
		content: '\F024';
	}
	.sub-menu {
		position: absolute;
		bottom: 38px;
		left: 0px;
		width: 100%;

		li {
			width: 100%;
			background: #434f57;
			overflow: hidden;
			&:hover {
				background: darken(#434f57, 5);
			}
		}
		a {
			border-radius: 0px;
			text-align: center;
			font-size: 12px;
			color: $white;
			display: block;
			padding: 10px 16px;
			&:focus {
				box-shadow: none;
				border: none;
			}
		}

		li.current-lang > a {
			background: darken(#434f57, 5);
			border: darken(#434f57, 5);
		}

		li:first-child a {
			border-radius: 5px 5px 0px 0px;
		}
	}

	&.open {
		.li > a {
			border-radius: 0px 0px 5px 5px;
		}
		.sub-menu {
			visibility: visible;
			opacity: 1;
			display: inline-block;
		}
	}
}


.flag-select__btn {
	padding-left: 0 !important;
}
.flag-select__option--placeholder {
	padding-left: 0 !important
}
.flag-select__option {
	margin: 0 !important;

	.flag-select__option__icon {
		top: 0 !important;
	}
}

.navbar-light {
	.flag-select__btn:after{
		border-top-color: #FFF !important;
	}
}