
.styled-list {
	box-shadow: 0 2px 10px 0 rgba(13, 19, 51, 0.1);

	li {
		display: block;
	}

	a {
		display: flex;
		align-items: center;
		padding: 1.5rem 1.9rem;
		border-bottom: 1px solid rgba(176, 192, 212, 0.3);
		transition: all .2s ease-in-out;

		div {
			display: flex;
			align-items: center;
			white-space: nowrap;
			.list-title {
				color: $black;
				min-width: 20rem;
			}
			p {
				@extend .small;
				margin: 0;
				color: $vacanciesGrey;
			}
		}

		@include media-breakpoint-down(md) {
			div {
				align-items: flex-start;
				flex-direction: column;
			}
		}

		&:hover .info {
			transform: translateX(10px);
		}

		.info {
			transition: all 0.2s ease-in-out;
			margin-right: 0;
			margin-left: auto;
			align-items: center;
		}
	}
}

.newsletter-list {
	margin: 3rem 0;

	a:hover {
		background: #efefef;
	}
}
.newsletter-title {
	font-size: 1.3rem;
}

.newsletter .mailchimp-subscribe-wrapper {
	margin: 0;
	margin-top: 4rem;
}
