.mailchimp-subscribe-wrapper {
	border-radius: 3px;
    background: #fcfcfc;
    border: 1px solid #ccc;
    margin-left: -20px;
    margin-right: -20px;
    padding: 30px 20px;
	
	h3 {
		margin-top: 0 !important;
	}
	
	form {
		display: flex;
		flex-wrap: wrap;
		
		.email-input {
			flex-grow: 1;
		}

		.btn {
			padding: 0.6rem;
			margin-left: 0.6rem;

			img {
				margin: 0;
			}
		}
		.info {
			display: block;
			width: 100%;
			margin-top: 1rem;
			font-size: .875rem;
		}
	}

	.checkbox-container {
		width: 100%;
		display: block;
		min-width: 100%;
		font-size: .875rem;
		margin-top: .875rem;

		input {
			margin-top: 0.2rem;
    		margin-right: 0.3rem;
		}
	}

	.result-message {
		margin-top: 1rem;
		display: block;
		width: 100%;
		flex-grow: 1;
		font-size: .875rem;
	}
}