div.map-section {
	.info-box {
		box-shadow: $shadowBox-normal;
		background: $white;
		position: absolute;
		left: 10px;
		top: 50px;
		z-index: 2;
		min-width: 300px;
		padding: 20px;

		&.show {
			display: inline-block;
		}
		p {
			line-height: 20px;
			margin: 0px;
		}
		.close {
			font-size: 20px;
		}
	}

	.cluster {
		transition: .15s ease-in-out transform;
		&:hover {
			transform: scale(1.15);
		}
		background: url('https://a.storyblok.com/f/72378/56x55/a58ac02c66/cluster_icon.png') center no-repeat;

		> * { color: white !important; }
		img {
			display: none;
		}

	}

	.map-search {
		box-shadow: $shadowBox-normal;
		background: $white;
		border: none;
		margin: 10px;
		width: 300px;
		@include media-breakpoint-down(xs) {
			width: 170px;
		}
	}

	.pin-cluster {
		@extend .animate-all;
		position: absolute;
		height: 29px;
		width: 29px;
		border-radius: 50%;
		color: $primaryBlue;
		background: $white;
		font-family: $font-bold;
		font-size: 15px;
		line-height: 29px;
		text-align: center;
		cursor: pointer;
		box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.2);
	}
	.pin-cluster:hover {
		box-shadow: 0px 0px 5px 2px rgba(0, 0, 0, 0.3);
		transform: scale(1.02);
	}
}

.map-section {
	position: relative;

	.dealers-search {
		position: absolute;
		top: 0;
		left: 0;
		z-index: 1;
	}
}

.dealers-search-input {
	box-shadow:  $shadowBox-normal;
    background: #fff;
    border: none;
    margin: 10px 10px 0 10px;
	width: 300px;
	padding: .375rem .75rem;
	font-family: 'Roboto', sans-serif
}

.dealers-results {
	box-shadow: $shadowBox-normal;
	font-size: 12px;
	margin: 0 10px;
	background: #f7f7f7;
	position: relative;
}

.dealer-result {
	cursor: pointer;
	padding: .5rem 10px;

	&:hover {
		background: #f1f1f1;
	}
}