header {
	background: $lightGrey;
	transition: background .5s ease-in-out;
	&.blue {
		background-color: $primaryBlue;
	}
	&.transparent,
	&.gradient,
	&.transparent-dark {
		background-color: transparent;
	}

	.light,
	.navbar-light {
		.main-logo path {
			fill: white;
		}
	}
}

nav.navbar {
	@extend .text-black;
	z-index: 10;
	padding-left: 52px;
	height: 100px;
	background-color: transparent;
	@media all and (max-width: 992px) {
		padding-left: 30px;
	}

	.navbar-brand {
		z-index: 1;
		img {
			min-width: 92px;
		}
	}
}
.navbar-collapse {
	justify-content: flex-end;
}

.navbar-nav > .menu-elem {
	position: relative;
	height: 40px;
	min-width: 80px;
	text-align: center;
	margin-right: 44px;

	&.has-last {
		ul li:last-of-type {
			background: $lightGrey;
			a {
				padding: 20px 30px;
				text-transform: none;
				font-weight: $font-normal;
				font-size: 14px;
				transition: 0.2s padding ease-in-out;
				i {
					font-size: 12px;
					vertical-align: middle;
					margin-top: -3px;
				}
				&:hover {
					padding-left: 35px;
				}
			}
		}
	}

	@include media-breakpoint-down(lg) {
		margin-right: 20px;
	}
	> a {
		color: inherit;
		font-weight: $font-bold;
		font-size: $size-h3;
		text-transform: uppercase;
		letter-spacing: 1.8px;
		padding-bottom: 10px;
	}
	@include media-breakpoint-up(lg) {
		&:hover > a {
			border-bottom: 2px solid $semiBlack;
		}
	}
	>.current-menu-parent,
	>.current-menu-item {
		border-bottom: 2px solid $semiBlack;
	}
}

//////////// SUB MENU SETUP \\\\\\\\\\\\\
nav.navbar {
	ul.navbar-nav > li.menu-item-has-children:hover .sub-menu {
		visibility: visible;
		opacity: 1;
	}

	.sub-menu {
		&:before {
			content: '';
			position: absolute;
			top: -10px;
			left: 50%;
			margin-left: -26.5px;
			border-style: solid;
			border-width: 0 26px 26px;
			border-color: transparent transparent $white;
			display: block;
			width: 0;
			z-index: -1;
		}
		&:hover {
			visibility: visible;
			opacity: 1;
		}
		padding: 0 !important; // overwriting bootstrap
		position: absolute;
		left: 50%;
		visibility: hidden;
		opacity: 0;
		transition: visibility 0.1s, opacity 0.1s linear;
		transition-delay: 0.2s;
		list-style: none;
		width: 300px;
		background: $white;
		margin: 20px 0 0 -155px;
		box-shadow: 0 20px 35px rgba(0, 0, 0, 0.2);
		z-index: 1000;
		li {
			text-align: left;
			border-bottom: 1px solid $lightGrey;
			a {
				display: block;
				padding: 17px 30px;
				@extend .strong;
				font-size: 14px;
				color: $semiBlack;

				.menu-subtitle {
					font-size: 13px;
					font-weight: 400;
					text-transform: none;
				}
				transition: 0.2s background ease-in-out;
				&:hover {
					background: $lightGrey;
				}
			}
		}
	}

	.nav-back {
		justify-content: flex-end;
		display: flex !important;
		flex-basis: auto;
		flex-grow: 1;
		align-items: center;
	}
	.back-button {
		@extend .fa-arrow-left;
		cursor: pointer;
		&:before {
			@extend .fa;
			@extend .mr-2;
			font-size: $size-xsmall;
			vertical-align: baseline;
		}
	}

	.icon-before {
		@extend .fa-lock;
		@extend .text-blue;
		&:before {
			@extend .fa;
			@extend .mr-2;
			font-size: $size-xsmall;
			vertical-align: baseline;
		}
	}
}

header.blue,
header.transparent {
	.menu-elem > a,
	.icon-before:before,
	.back-button:before {
		color: $white;
	}

	nav.navbar .back-button {
		color: $white;
		&:hover,
		&:active,
		&:focus {
			color: $white;
		}
	}

	.my-hamburger > span {
		background-color: $white;
	}

	@include media-breakpoint-down(md) {
		.navbar-collapse {
			background-color: $primaryBlue;
			> ul .menu-elem .sub-menu li.menu-item a {
				color: $white;
			}
		}
	}
}

@include media-breakpoint-down(md) {
	header.transparent .navbar-collapse {
		top: 0px;
		background-color: $primaryBlue;
		ul {
			margin-top: 100px;
		}
	}
	header.transparent-dark .navbar-collapse {
		top: 0px;
		ul {
			margin-top: 100px;
		}
	}
}
