.section-modal {
	@extend .modal-lg;
	width: 100%;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	z-index: 1;

	&.hide {
		display: none;
	}

	.inner-wrapper {
		position: relative;
		max-height: 85vh;
		overflow-y: auto;
		background: #fff;
		position: relative;
		padding: 3.4rem 3rem;
		box-shadow: 0px 7px 14px 2px rgba(0, 0, 0, 0.2);
	}

	.close {
		z-index: 1;
		position: absolute;
		right: 1.5rem;
		top: 1rem;
		span {
			font-size: 2rem;
		}
	}
}

.popup-content {
	max-width: 100%;
	padding: 0 !important;
	border: transparent !important;
	width: 960px !important;
	max-height: 80%; 
	overflow-y: auto;
	

	ul {
		margin-left: 1rem;
		margin-bottom: 1rem;
		li {
			margin: .4rem 0;
			list-style-type: disc;
			padding-left: 1rem;
		}
	}
}

.markdown-wrapper {
	
	ul {
		margin-left: 1.2rem;
		margin-bottom: 1rem;
		li {
			margin: .4rem 0;
			list-style-type: disc;
			padding-left: .7rem;
		}
	}
}


.video-content {
	width: auto !important;
	overflow: hidden;

	.close {
		display: none;
	}

	> .p-4 {
		padding: 0 !important
	}
}