// Stylesheet for blog and story detail page controls (Back button & Social sharing)
.post-controls {
	@include media-breakpoint-up(lg) {
		position: absolute;
	}

	.content-back-button {
		z-index: 1;
	}

	.content-share-buttons {
		z-index: 1;
		> button {
			@include media-breakpoint-down(lg) {
				margin-left: 7px;
			}
			@include media-breakpoint-up(lg) {
				margin-bottom: 10px;
			}
		}
		&.fixed {
			position: fixed;
			top: 10px;
		}
		&.bottom {
			position: absolute;
			top: initial;
			left: initial;
			bottom: 0;
		}
	}
}
