.video-player {
	position: absolute;
	display: flex;
	align-items: center;
	justify-content: center;
	cursor: pointer;
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	cursor: pointer;
	background: rgba(0,0,0,.15);
	@extend .animate-all;

	.center-play {
		@extend .animate-all;
		width: 60px !important;
		height: 60px;
	}

	&:hover{
		background: transparent;
		.center-play {
			@extend .circle;
			box-shadow: $shadowBox-hover;
			transform: translateY(-5px);
		}
	} 
}
