.post-detail-intro {
	position: relative;
	margin-top: -120px;
	display: flex;
	align-items: center;
	.post-detail-intro-image {
		position: relative;
		text-align: center;
		background: black;
		display: flex;
		justify-content: center;

		@media screen and (max-height: 820px) and (max-width: 460px){
			height: 300px;
		}
		
		height: 475px;
		.picture-wrapper {
			margin: 0 auto;
		}
		picture {
			width: auto !important;
		}
		img {
			position: absolute;
			max-height: 100%;
			min-width: 100%;
		}

		&.overlay:after,
		&.top-overlay:after {
			content: '';
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			z-index: 1;
		}

		&.overlay:after {
			height: 100%;
			background: $semiBlack;
			opacity: 0.2;
		}

		&.top-overlay:after {
			background: linear-gradient(to bottom, rgba(0, 0, 0, 0.65), rgba(255, 255, 255, 0));
			height: 150px;
		}
	}

	.post-detail-intro-content {
		position: absolute;
		display: flex;
		text-align: center;
		> div {
			display: flex;
			flex-direction: column;
		}
		.category-label {
			color: $white;
			margin-bottom: 0;
		}
		.title {
			color: $white;
		}
	}
}

.post-detail-body-content {
	margin-top: 20px;

	@media screen and (min-height: 600px){
		margin-top: 100px;
	}
	

	.content-body {
		// Keep the structure change backwards-compatible, so we don't have to change html in all the blog-posts
		.col-lg-6 {
			max-width: 100%;
			margin: 0;
			flex: 1;
		}
	}

	img {
		display: block;
		margin: 2rem auto;
		max-width: 100%;
		height: auto;
	}

	h3 {
		margin-top: 2.5rem;
   		margin-bottom: 1rem;
	}
	ul {
		list-style: initial;
		margin-left: 20px;
		margin-bottom: 2rem;
		li {
			padding: 5px;
			@extend .mt-3;
			span {
				@extend .text-black;
			}
		}
	}
}


