.row.expanded-row {
	background: $lightGrey;
	position: relative;
	padding: 0;
	@extend .mt-0;

	.img-big picture {
		min-width: 800px;
		width: 100% !important;
		height: auto !important;
	}

	.title {
		position: absolute;
		bottom: 0;

		h1 {
			display: inline-block;
		}
	}

	.icon {
		align-self: start;
	}

	.partner-logos {
		width: 100%;
		background: $white;
		padding: 2rem 16vw;
		border: 1px solid $secundaryGrey;
		border-top: none;
		border-radius: 0 0 3px 3px;

		> * {
			margin: 1rem;
			flex-shrink: 0;
		}
	}
}

.row.bg-lightgrey {
	background: $lightGrey;
}

.title {
	margin: 0 15px;
}

@include media-breakpoint-up(md) {
	.title {
		margin: 0 calc(8.333% + 15px);
	}
}

@media (max-width: 1420px) {
	.expanded-row {
		width: 100vw;
		margin-left: 50%;
		transform: translateX(-50%);
	}
}

@media (min-width: 1420px) {
	.expanded-row {
		margin: 0 -180px;
		padding: 0;

		.title {
			margin-left: calc(165px + 8.333%); // offset-1
		}

		.normal-width {
			max-width: calc(100% - (180px * 2));
			margin: 0 180px;
		}
	}
}

.coliving-graphic {
	position: relative;
	&:before {
		position: absolute;
		bottom: 0;
		left: 50%;
		transform: translateX(-50%);
		width: calc(100% + 150px);
		content: '';
		height: 100%;
		// background: url("../assets/imgs/coliving-graphic-bg.svg") no-repeat center;
		background-size: contain;
	}

	.svg-expand > svg {
		margin: 0 -22px;
	}

	a[data-toggle='custom-modal']:hover {
		circle.st8 {
			fill: scale-color($primaryBlue, lightness, -50%);
		}
	}
}

.ways-to-unlock {
	.nav-tabs {
		justify-content: space-between;
		display: inline-flex;
		font-size: $size-small;
		background: $lightGrey;
		border-radius: 20px;
		border-bottom: 0;

		button {
			display: block;
			padding: 0.7rem 1.4rem;
			color: $lightBlue;
			border-radius: 20px;

			&.active {
				background: $primaryBlue;
				color: white;
			}
		}
	}

	&-slider {
		@include media-breakpoint-up(md) {
			.tag {
				margin-top: 90%;
				margin-left: -40%;
			}
		}
		.go-back {
			margin-top: 80px;
		}
	}
}


// Coworkies book identity
.text-coworkies-yellow {
	color: #f9c80f;
}

.btn-primary.coworkies {
	background: #f9c80f;
}