.get-a-quote {
	margin-top: -250px;
	background: $white;
	padding: 3rem 0;
	border: 1px solid #e1e1e1;
	border-radius: 3px;
}

div.dealers {
	height: 450px;
	width: 100%;
}

//KS CONNECT

.ksconnect-hero {
	margin-top: -115px;
}