.page-hardware {
	.content-item.large-separator {
		padding-bottom: 80px;
	}
	.content-item.no-bottom-space {
		margin-top: 80px;
	}

	.fa {
		transition: transform .2s ease;
	}
	.expanded {
		@extend .text-blue;
		.fa {
			transform: rotate(180deg);
		}
	}
}
