.security-features {
	padding: 1.4rem 1.4rem;
	border-radius: 4px;
	box-shadow: 0 0 6px 0 rgba(176, 192, 212, 0.4);
	margin-bottom: 2rem;
	display: flex;
	width: 100%;
	align-items: center;

	.icon-line:not(.big) {
		@extend .small;
		i {
			margin-right: 1.4rem;
		}
	}
	.icon-line i {
		margin-right: .6rem;
	}
}

@media (min-width: 680px) {
	.page-security {
		.security-svg {
			margin: 0 -15vmax;
		}
	}
}

.line-component {
	opacity: 0;
	transition: 0.4s opacity 0.1s ease-in-out;

	&.active {
		opacity: 1;
	}
}

.show-slider {
	position: relative;
	z-index: 1;
}

@media (min-width: 680px) {
	.show-slider {
		margin-top: -20vw;
	}
}

.salto-components {
	position: relative;
	max-width: 680px;
	margin-left: auto;
	margin-right: auto;
	min-height: 70vh;

	@media (min-width: 680px) {
		margin-top: -10px;
	}

	@include media-breakpoint-up(lg) {
		margin-top: -9vw;
	}

	.component-slide {
		position: absolute;
		width: 100%;
		background: white;
		border: 1px solid #e1e1e1;
		height: 100%;
		overflow-y: auto;
		border-radius: 7px;
		padding: 0 2rem;
		display: flex;
		flex-direction: column;
		transition: all 0.35s ease-in-out;

		// Hide the scrollbar
		scrollbar-width: none; /* Firefox */
		-ms-overflow-style: none; /* IE 10+ */
		&::-webkit-scrollbar {
			width: 0px;
			background: transparent; /* Chrome/Safari/Webkit */
		}

		&.hide-right {
			transform: translateX(120px);
		}
		&.hide-left {
			transform: translateX(-120px);
		}

		&.active {
			z-index: 1;
			transform: translateX(0);
			opacity: 1;
		}

		.content {
			overflow-y: auto;
			padding-top: 14px;
		}

		p {
			@extend .small;
		}
		.info {
			color: $primaryBlue;
		}
		h3 {
			font-size: 12px;
			letter-spacing: 1px;
			line-height: 20px;
			margin-bottom: 2px;
			margin-top: 1rem;
			&:before {
				content: none;
			}
		}
		h4 {
			text-align: center;
			font-size: 16px;
			border-bottom: 1px solid #e1e1e1;
			background: #fff;
			position: sticky;
			top: 0;
			padding: 1.1rem 0;
		}

		ul {
			list-style-type: initial;
			padding-inline-start: 20px;
			margin: 1rem 0;

			li .small {
				margin-bottom: 4px;
			}
		}

		.component-footer {
			background: white;
			border-top: 1px solid #e1e1e1;
			padding: 1rem 0;
			margin-top: auto;
			margin-bottom: 0;
		}

		.change-component {
			i {
				font-size: 12px;
				transform: translateY(-2px);
			}

			&.next {
				float: right;
			}

			&.prev {
				float: left;
			}
		}
	}
}

.slide-1 {
	#line-component-1 {
		opacity: 1;
	}
	.circle-nav[data-slide="1"]{
		circle:first-child {
			fill: $primaryBlue;
		}
	}
}
.slide-2 {
	#line-component-2 {
		opacity: 1;
	}
	.circle-nav[data-slide="2"]{
		circle:first-child {
			fill: $primaryBlue;
		}
	}
}
.slide-3 {
	#line-component-3 {
		opacity: 1;
	}
	.circle-nav[data-slide="3"]{
		circle:first-child {
			fill: $primaryBlue;
		}
	}
}
.slide-4 {
	#line-component-4 {
		opacity: 1;
	}
	.circle-nav[data-slide="4"]{
		circle:first-child {
			fill: $primaryBlue;
		}
	}
}
#arc .circle-nav {
	cursor: pointer;
	transition: fill 0.2s ease-in-out;
	&:hover {
		circle {
			fill: $primaryBlue;
		}
	}
	&.active {
		circle:first-child {
			fill: $primaryBlue;
		}
		circle:last-child {
			fill: white;
		}
	}
}
