.content-item.contact {
	margin-top: 70px;
}

.shadowBox-solutions {
	width: 100%;
	box-shadow: $shadowBox-solutions;
	img {
		float: right;
	}
	> div {
		padding: 20px 20px 0px 20px;
	}
}

.page-solutions,
.page-events {
	background: $lightGrey;
}

.events-filter {
	max-width: 18.75rem;
}

.story-block {
	background: $white;
	@extend .mt-5;

	> *:not(.image) {
		padding: 1rem 1.5rem;
		margin: 0;
	}

	h6.story-title {
		font-size: 1.2rem;
		line-height: 1.5;
		font-weight: 400;
	}

	.image {
		min-height: 200px;
		max-height: 260px;
		background-position: center;
		background-size: cover;
		overflow: hidden;
		.picture-wrapper {
			max-height: none !important;
			width: 100% !important;
		}
	}

	
}
