.support-section {
	@extend .my-4;
	padding: 2rem 0;
	border-bottom: 1px solid $secundaryGrey;
	.category-title {
		color: $lightBlue;
		text-transform: uppercase;
		@include media-breakpoint-up(lg) {
			max-width: 170px;
		}
	}
}
.support-sections {
	.section {
		display: flex;
		align-items: flex-start;
		h4 {
			color: $primaryBlue;
		}
		.icon {
			min-width: 40px;
			margin-top: 5px;
			display: block;
			text-align: center;
			margin-right: 15px;
		}
	}
}
.answer-search-button {
	background: none;
	border: none;
	i {
		color: $primaryBlue;
		transition: color 0.2s ease-in-out;
	}
	&:hover i {
		color: $semiBlack;
	}
}
.answer-container {
	@extend .mb-4;

	.answer-title {
		color: $primaryBlue;
		transition: color 0.2s ease-in-out;
	}

	.fa-chevron-down {
		transition: transform 0.2s ease-in-out;
		transform: translateY(3px) rotate(180deg);
		color: $primaryBlue;
	}
	.title-wrapper {
		display: flex;
		align-items: flex-start;
		cursor: pointer;
	}
	.collapsed {
		.answer-title {
			color: $semiBlack;
		}
		.fa-chevron-down {
			transform: rotate(0) translateY(3px);
		}
	}
	.answer-content {
		.inner-wrapper {
			padding: 0.5rem 2rem 1rem 2rem;
			max-height: 320px;
			overflow-y: auto;
		}

		.info {
			display: block;
			padding: 1rem 2rem;
			border-bottom: 1px solid rgba(0,0,0,.1);
		}

		* {
			font-size: 14px;
		}
	}
}
