// =============================================================================
// String Replace
// =============================================================================

@function str-replace($string, $search, $replace: '') {
	$index: str-index($string, $search);

	@if $index {
		@return str-slice($string, 1, $index - 1) + $replace +
			str-replace(str-slice($string, $index + str-length($search)), $search, $replace);
	}

	@return $string;
}

// =============================================================================
// Font Face
// =============================================================================

// @mixin font-face($name, $path, $weight: null, $style: null, $exts: eot woff2 woff ttf svg) {
@mixin font-face($name, $path, $weight: null, $style: null, $exts: otf) {
	$src: null;

	$extmods: (
		eot: '?',
		svg: '#' + str-replace($name, ' ', '_')
	);

	$formats: (
		otf: 'opentype',
		ttf: 'truetype'
	);

	@each $ext in $exts {
		$extmod: if(map-has-key($extmods, $ext), $ext + map-get($extmods, $ext), $ext);
		$format: if(map-has-key($formats, $ext), map-get($formats, $ext), $ext);
		$src: append($src, url(quote($path + '.' + $extmod)) format(quote($format)), comma);
	}

	@font-face {
		font-family: quote($name);
		font-style: $style;
		font-weight: $weight;
		src: $src;
	}
}

@mixin retina($normal, $retina, $sizes) {
	background: $normal;
	background-size: $sizes;

	@media all and (-webkit-min-device-pixel-ratio: 1.5),
		all and (-o-min-device-pixel-ratio: 3 / 2),
		all and (min--moz-device-pixel-ratio: 1.5),
		all and (min-device-pixel-ratio: 1.5) {
		background: $retina;
		background-size: $sizes;
	}

	@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
		background: $retina;
		background-size: $sizes;
	}
}

@mixin buttonStyle($mainColor, $darkenAmmount) {
	background: $mainColor;
	border: $mainColor;
	&:hover {
		background: darken($mainColor, $darkenAmmount);
		border: darken($mainColor, $darkenAmmount);
	}
}

.mx-50x {
	margin-left: 50px;
	margin-right: 50px;
}

@mixin overlay($position) {
	position: relative;
	overflow: hidden;

	&:after {
		content: '';
		position: absolute;
		#{$position}: 0;
		left: 0;
		width: 100%;
		height: 50%;
		min-height: 240px;
		background: linear-gradient(to #{$position}, rgba(30, 30, 30, 0), $semiBlack);
	}
}
