*,
.form-input,
.form-control,
button {
    &:focus {
        outline: none !important;
        border-color: inherit;
        box-shadow: inherit;
    }
}

body {
    overflow-y: auto;
    overflow-x: hidden;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
    li {
        margin: 0;
        padding: 0;
    }
}

picture {
    object-fit: contain;
    display: flex;
    align-items: center;
    justify-content: center;

    img,
    source {
        max-width: 100%;
    }
}

.btn.btn-primary,
.btn.btn-secondary {
    border: none !important;
    color: white;
    &:focus,
    &:active,
    &:active:focus {
        box-shadow: none !important;
    }
    &:hover {
        color: white;
    }
}
nav.navbar.bg-light {
    background-color: inherit !important;
}

.search-button,
.unstyled-btn {
    background: none;
    border: none;
}

.text-wrapper {
    margin-bottom: 1rem;

    &.no-space {
        margin-bottom: 0;
    }

    h4 {
        display: block;
        width: 100%;
    }

    img {
        margin-right: 2rem;
        margin-bottom: 1rem;
        max-width: 100%;
        width: auto;
    }

    .small-img {
        max-width: 200px !important;
    }
}

.text-wrapper {
    h3 {
        &:before {
            content: none !important;
        }
        margin-top: 1rem;
    }
    ul:not(.splide__pagination) {
        list-style: square;
        margin-bottom: 2rem;

        ul {
            margin-bottom: 0;
        }

        li {
            margin-left: 1rem;
        }
        li:first-of-type {
            margin-top: 0.5rem !important;
        }
    }
}

.table p {
    margin: 0 !important;
    font-size: 0.875em;
}

.markdown-wrapper img {
    margin-right: 1rem;
    display: inline-block;
}
