// General
body {
	font-family: $font;
}

// Colors
.text-blue,
.text-primary {
	color: $primaryBlue;
}
.text-light-blue,
.icon-light-blue i {
	color: $lightBlue;
}
.text-black {
	color: $semiBlack;
}
.text-grey {
	color: $darkGrey;
}

.text-white {
	color: $white;
}
.text-red {
	color: $errorRed;
}
.text-green,
.icon-green i {
	color: $green;
}
.text-dark-grey {
	color: $almostBlack;
}
// Font weight and style
.strong,
strong {
	font-weight: 600;
}
.cursive {
	// Need to review if this breaks anything
	// font-style: italic;
	font-style: italic;
}

.warning {
	color: $errorRed;
}

//Font size
.small,
small,
.small > p {
	font-size: $size-small;
}
.xsmall {
	font-size: $size-xsmall;
}
.intro {
	font-size: $size-intro;
	> p {
		font-size: $size-intro;
	}
}
.quote {
	font-size: $size-quote;
}

.milestone .quote

//Text transform
.uppercase {
	text-transform: uppercase;
}

// Headings
h1,
h2,
h3 {
	@extend .text-blue;
	font-weight: $font-normal;
}
.inline-h1 h1 {
	display: inline;
}

h3,
h4 {
	font-weight: $font-bold;
}
h4,
h5 {
	@extend .text-black;
}
h1 {
	font-size: $size-h1;
}
h2 {
	font-size: $size-h2;
}
h3 {
	text-transform: uppercase;
	font-size: $size-h3;
	letter-spacing: 1.8px;
	line-height: 20px;
	&:not(.no-decoration):before {
		content: '\\ ';
	}

	&.tertiary-title {
		letter-spacing: initial;
		font-size: 1.2rem;
		font-weight: 400;
		text-transform: none;
	}
}
h4 {
	font-size: $size-h4;
}
h5 {
	font-size: $size-h5;
}

// Paragraphs
p {
	font-size: $size-base;
	line-height: 30px;
	@extend .text-black;
	&.small {
		line-height: 25px;
	}
	&.red {
		@extend .text-red;
	}
	i {
		font-style: italic;
		font-size: $size-small;
	}
}

// Anchors
a {
	@extend .text-blue;
	cursor: pointer;
	transition: transform 0.1s ease;
	&:hover {
		text-decoration: none;
		@extend .text-black;
	}
	&.info {
		@extend .text-black;
		i.fa {
			font-size: $size-xsmall;
			vertical-align: middle;
			margin-right: 5px;
			margin-top: -3px;
		}
		&:hover {
			@extend .text-blue;
			transform: translateX(2px);
		}
	}
}


.hover-blue {
	&:hover {
		color: $primaryBlue !important;
	}
}

.text-center ul {
	text-align: left;
	margin: 0 auto;
}

ul li.no-style-li {
	display: block;

}

.social-icon{

	&:hover {
		i {
			color: $primaryBlue;
		}
	}
	
	i {
		font-size: 1.5rem !important;
		color: #1e1e1e;
	}
}