.hidden,
div.hidden {
	display: none !important;
}
.circle {
	border-radius: 100%;
}
.animate-all {
	transition: all 0.2s ease;
}

.overflow-hidden {
	overflow: hidden;	
}

.reflect {
	transform: rotate(180deg);
}

.gradient-overlay-top {
	@include overlay(top);
}

.gradient-overlay-bottom {
	@include overlay(bottom);
}

// Hide captcha badge
.grecaptcha-badge {
	display: none !important;
}

.m-neg-small {
	transform: translateY(-20%);
}
.m-neg-big {
	transform: translateY(-36%);
}

.border-lightgrey {
	border: 1px solid $secundaryGrey;
}

.small-radius {
	border-radius: 3px;
}

.pointer {
	cursor: pointer;
}
p.text-left {
	text-align: left !important;
}

.list > ul {
	margin-left: 0.875rem;
}

.leads-table {
	display: flex;
	flex-wrap: wrap;
	background: rgba(0, 0, 0, 0.12);

	li {
		@extend .small;
		padding: 0 2rem;
		max-width: 33%;
		min-width: 400px;

		pre {
			padding: 0 0.4rem;
			white-space: pre-wrap;
			max-height: 200px;
			overflow-y: auto;
		}
	}
}

@-webkit-keyframes rotating {
	from {
		-webkit-transform: rotate(0deg);
		-o-transform: rotate(0deg);
		transform: rotate(0deg);
	}
	to {
		-webkit-transform: rotate(360deg);
		-o-transform: rotate(360deg);
		transform: rotate(360deg);
	}
}
@keyframes rotating {
	from {
		-ms-transform: rotate(0deg);
		-moz-transform: rotate(0deg);
		-webkit-transform: rotate(0deg);
		-o-transform: rotate(0deg);
		transform: rotate(0deg);
	}
	to {
		-ms-transform: rotate(360deg);
		-moz-transform: rotate(360deg);
		-webkit-transform: rotate(360deg);
		-o-transform: rotate(360deg);
		transform: rotate(360deg);
	}
}
.spin {
	-webkit-animation: rotating 2s linear infinite;
	-moz-animation: rotating 2s linear infinite;
	-ms-animation: rotating 2s linear infinite;
	-o-animation: rotating 2s linear infinite;
	animation: rotating 2s linear infinite;
}

.i-amphtml-layout-fill {
	position: static !important;
	height: 350px;
	img {
		object-fit: contain;
		position: static !important;
	}
}


.half-images {
    width: 50%;
    min-width: 300px;
}

.blog-gifs {
	max-width: calc(50% - 20px) !important;
	min-width: 200px !important;
	margin-bottom: 2rem !important;
}
.blog-gifs.single-gif {
	margin-left: auto !important;
	margin-right: auto !important;
}

.blog-gifs:not(.single-gif) {
	float: left;
	margin-left: 10px !important;
	margin-right: 10px !important;
}