// Primary colors
$primaryBlue: #0088ce;
$semiBlack: #1e1e1e;
$lightGrey: #f7f7f7;
$white: #ffffff;

// Secondary colors
$errorRed: #f93049;
$darkGrey: #bbbbbb;
$secundaryGrey: #e6e6e6;
$secundaryBlue: #007cc0;
$lightBlue: #b0c0d4;
$lighterBlue: #e8f4fb;
$green: #00b57d;
$lightGreen: #ebf8f3;
$almostBlack: #434f57;
$blueGrey: #eef1f6;
$clay: #0d1333;
$vacanciesGrey: #a6b3b9;

// Components
$footerBg: #1a282f;
$footerLightGray: #a5aeb9;

// Font weight
$font: 'Roboto';
$font-normal: 400;
$font-bold: 600;
$font-italic: 400i;

// Font Sizes
$size-base: 16px;
$size-intro: 20px;
$size-small: 14px;
$size-xsmall: 12px;

$size-h1: 50px;
$size-h2: 32px;
$size-h3: 12px;
$size-h4: 14px;
$size-h5: 12px;

$size-quote: $size-base * 1.875;

// Shadow Box
$shadowBox-hover: 8px 20px 35px rgba(0, 0, 0, 0.2);
$shadowBox-normal: 8px 20px 35px rgba(0, 0, 0, 0.1);
$shadowBox-solutions: 8px 10px 50px rgba(0, 0, 0, 0.1);

// Gradient
$blueBoxGradient: linear-gradient(to bottom left, #b3dbf0, white);
$heroGradient: linear-gradient(50deg, #b3dbf0, white 80%);

//Social colors
$facebookColor: #6179ad;
$twitterColor: #76bcf1;
$linkedinColor: #338ec1;

// Responsive Menu Items border color
$mobileMenuSeparatorColor: #e6e6e633;
